<div class="breadcrumbs">
  <h3 *ngIf="queriedData.oneway">{{queriedData.originCity.toUpperCase()}}&nbsp;<span> > </span>&nbsp;{{queriedData.destinationCity.toUpperCase()}}</h3>
  <h3 *ngIf="!queriedData.oneway">{{queriedData.originCity.toUpperCase()}}&nbsp;<span> > </span> &nbsp;{{queriedData.destinationCity.toUpperCase()}}&nbsp;<span> > </span>&nbsp;{{queriedData.originCity.toUpperCase()}}</h3>
  <div class="flightTimingInfo">
      <p>Depart:{{queriedData.departureDate|date}}</p>
      <p *ngIf="!queriedData.oneway">Return:{{queriedData.returnDate |date}}</p>
  </div>
</div>